<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon"
	href="https://trello.com/1/cards/6291995e5f22825366332f10/attachments/629c2c1503da93740b4c49b2/previews/629c2c1603da93740b4c49cf/download/vghfhg.jpg">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Menu de Usuario</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	
	<div th:include="usuario/template_usuario.html::header"
		th:if="${sesion==null}"></div>

	<div th:include="usuario/template_usuario.html::header-user"
		th:unless="${sesion==null}"></div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Detalle <small>Producto</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item "><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active">Producto</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<a href="#"> <img class="img-fluid rounded"
							th:src="@{/images/{img} (img=${producto.imagen})}" alt="">
						</a>
					</div>
					<div class="col-lg-6">
						<form th:action="@{/cart}" method="POST">
							<input type="hidden" th:value=${producto.id} name="id">
							<h2 class="card-title" th:text="${producto.nombre}"></h2>

							<ul class="list-group">
								<li class="list-group-item"><h5
										th:text="'Precio: ' + ${producto.precio}"></h5></li>
								<li class="list-group-item">
									<p th:text="'Descripción: '+ ${producto.descripcion}"></p>
								</li>
								<li class="list-group-item"><h6>
										Cantidad: <input type="number" id="cantidad" name="cantidad"
											autocomplete="off" min="1" max="5" value="1">
									</h6></li>
							</ul>


							<button type="submit" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg> Añadir al	carrito</button>

						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuario/template_usuario.html::footer"></div>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
