<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clientes</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/boostrap.css}">
</head>
<body>

<!-- cuerpe -->
	<div class="container">
		<h1>Listado de Clientes</h1>
		<h1>Prueba  mamawebo</h1>
		<h1>Prueba  mamawebo2</h1>
		<h1>Prueba  mamawebo3</h1>
		<h1>Prueba  mamawebo4</h1>
		<h1>Prueba  mamawebo5</h1>
		<h1>Prueba  mamawebo6</h1>
		
		<h2>Prueba  mamawebo6</h2>
		
		<table>
		<thead>
			<tr>
			<th>ID</th>
			<th>Nombre(s)</th>
			<th>Apellidos</th>
			<th>Email</th>
			<th>F.Creación</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.apellidos}"></td>
			<td th:text="${cliente.email}"></td>
			<td th:text="${cliente.fechaCreacion}"></td>
		</tr>
		</tbody>
		</table>
	</div>
</body>
</html>
